<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ UBrainTech</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav-link/contact.css">
    <style>


    </style>
</head>
<body>
<a href="/home" class="back-btn">
    ← <span>Quay lại trang chủ</span>
</a>
<div class="contact-container">
    <h1>Liên hệ với UBrainTech</h1>
    <p class="intro">
        Nếu bạn có thắc mắc, góp ý, hoặc muốn hợp tác cùng <strong>UBrainTech</strong>,
        vui lòng liên hệ qua thông tin dưới đây hoặc gửi tin nhắn trực tiếp cho chúng tôi.
    </p>

    <div class="contact-info">
        <div class="info-card">
            <h3>📍 Địa chỉ</h3>
            <p>QTSC Tân Chánh Hiệp Cổng Tô Ký Quận 12</p>
        </div>
        <div class="info-card">
            <h3>📞 Hotline </h3>
            <p>096 000 0000</p>
        </div>
        <div class="info-card">
            <h3>@ Zalo</h3>
            <p>096 000 0000</p>
        </div>
        <div class="info-card">
            <h3>✉️ Email</h3>
            <p>sale.ubraintech@gmail.com</p>
        </div>
    </div>

</div>




<script>
</script>

</body>
</html>