
header {
    font-size: 14px; /* hoặc 13px nếu bạn muốn nhỏ hơn nữa */
}
.header-top {
    background-color: #f8f9fa;
    font-size: 14px;
}
.header-mid select,
.header-bottom select {
    font-size: 14px;
    padding: 4px 8px;
}

.header-bottom select option{
    padding: 5px 10px;
}

/* Thanh tìm kiếm */
.header-mid input[type="search"] {
    font-size: 14px;
    padding: 6px 10px;
}

/* Nút tìm kiếm */
.header-mid button[type="submit"] {
    font-size: 14px;
    padding: 6px 12px;
}




.header-bottom {
    background-color: #001476;
}
.header-bottom a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;

}
.nav-button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.nav-button:hover {
    background-color: #e0e0e0;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}