<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thanh điều hướng</title>
    <link rel="stylesheet" href="/css/order-process.css">
</head>
<div class="checkout-nav">
    <div class="checkout-step">
        <a href="/order/shopping-cart">Giỏ hàng</a>
    </div>
    <div class="checkout-step active">
        <a href="/order/infor-order">Thông tin đặt hàng</a>
    </div>
    <div class="checkout-step">
        <a href="/order/payment">Thanh toán</a>
    </div>
    <div class="checkout-step">
        <a href="/order/complete">Hoàn tất</a>
    </div>
</div>
</html>