<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thanh điều hướng đặt hàng</title>
    <link href="/css/order-process.css" rel="stylesheet">
</head>
<body>
<div class="checkout-nav">
    <div class="checkout-step"
         th:classappend="${currentURI.contains('/shopping-cart')} ? ' active'">
        <a href="/order/shopping-cart">Giỏ hàng</a>
    </div>
    <div class="checkout-step"
         th:classappend="${currentURI.contains('/payment')} ? ' active'">
        <a href="/order/payment">Thanh toán</a>
    </div>
    <div class="checkout-step">
        Hoàn tất
    </div>
</div>

</body>
</html>
