<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Header TNC - Bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <style>

    </style>
</head>
<body>
<header th:fragment="mainHeader">
<!--Header Top -->
<div class="header-top py-1 px-3 d-flex justify-content-end gap-4">
    <div>📞 (096) 000 0000</div>
    <div>📧 Sale.ubraintech@gmail.com</div>
</div>

<!--Header Mid -->
<div class="header-mid py-3 border-bottom">
    <div class="container-fluid px-5 d-flex justify-content-between align-items-center">
        <a href="/" class="d-block">
            <img src="/photos/logo-ubraintech.png" alt="Logo" style="height: 50px;">

        </a>

        <form class="d-flex flex-grow-1 mx-4" role="search">
            <select class="form-select w-auto me-2 ">
                <option selected>Tất cả danh mục</option>
                <option >Xây dựng cấu hình PC</option>
                <option>PC Gaming</option>
                <option>PC Đồ Họa - Thiết Kế - Edit video</option>
                <option>Core Ultra [CPU, PC và Laptop]</option>
                <option>PC AMD</option>
                <option>PC AI</option>
                <option>Laptop - Máy Tính Xách Tay</option>
                <option>Màn Hình Máy Tính</option>
                <option>Máy chơi game - Console</option>
                <option>Tay Cầm Chơi Game</option>
            </select>
            <input class="form-control me-2" type="search" placeholder="Nhập sản phẩm cần tìm..." aria-label="Search">
            <button class="btn btn-primary w-auto" style="min-width: 100px;" type="submit">Tìm kiếm</button>
        </form>

        <div class="d-flex align-items-center gap-3 position-relative">
            <div class="nav-button position-relative">
                <a href="/cart" class="text-dark text-decoration-none d-block">
                    🛒 Giỏ hàng
                    <span class="cart-badge">0</span>
                </a>
            </div>
            <div class="nav-button">
                <a href="/login" class="text-dark text-decoration-none">👤 Tài khoản</a>
            </div>

        </div>

    </div>
</div>

<!--Header Bottom -->
<div class="header-bottom py-1">
    <div class="container-fluid px-5 d-flex flex-wrap justify-content-start">
        <select class="form-select w-auto me-2 ">
            <option selected>Tất cả danh mục</option>
            <option >Xây dựng cấu hình PC</option>
            <option>PC Gaming</option>
            <option>PC Đồ Họa - Thiết Kế - Edit video</option>
            <option>Core Ultra [CPU, PC và Laptop]</option>
            <option>PC AMD</option>
            <option>PC AI</option>
            <option>Laptop - Máy Tính Xách Tay</option>
            <option>Màn Hình Máy Tính</option>
            <option>Máy chơi game - Console</option>
            <option>Tay Cầm Chơi Game</option>
        </select>

        <a href="#">Build PC</a>
        <a href="#">PC Gaming</a>
        <a href="#">PC Đồ họa - Editor</a>
        <a href="#">Mac</a>
        <a href="#">Laptop Gaming</a>
        <a href="#">Laptop Văn phòng</a>
        <a href="#">PS5</a>
        <a href="#">RTX 3050</a>
        <a href="#">RTX 3060</a>
        <a href="#">Màn Hình</a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </header>
</body>
</html>