<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>
<body>
<!-- footer -->
<div th:fragment="footer"  >
    <footer class="bg-dark text-white text-center py-4" >
        <div class="container"style="margin-left:260px;">
            <p class="mb-1">
                Copyright © 2025 – 2026 <strong>UbrainTech</strong> | UbrainTech Team | Admin form
            </p>
            <p class="mb-1">
                Lưu ý: Sản phẩm phi lợi nhuận, vui lòng không thương mại hóa
            </p>
            <p class="mb-0">
                📞 Hotline: <strong>096 000 0000</strong>
            </p>
        </div>
    </footer>
</div>
</body>
</html>